[Unit]
Description=Lighthouse: Ethereum 2.0 Beacon Node
After=syslog.target network.target

[Service]
User={{ lighthouse_user }}
Type=simple
Environment="RUST_BACKTRACE={{ lighthouse_rust_backtrace }}" "RUST_LOG={{ lighthouse_rust_log }}"
ExecStart={{ lighthouse_bin }} \
	--datadir {{ lighthouse_datadir  }} \
	--debug-level {{ lighthouse_debug_level }} \
	{% if lighthouse_disable_malloc_tuning == True %}
	--disable-malloc-tuning \
	{% endif %}
	{% if lighthouse_environment_logging_enabled == True %}
	-l \
	{% endif %}
	--network {{ lighthouse_network }} \
	beacon_node \
	{% if lighthouse_beacon_checkpoint_sync_url is defined %}
	--checkpoint-sync-url {{ lighthouse_beacon_checkpoint_sync_url }} \
	{% endif %}
	{% if lighthouse_beacon_enr_address is defined %}
	--enr-address {{ lighthouse_beacon_enr_address }} \
	{% endif %}
	{% if lighthouse_beacon_enr_address is defined %}
	--enr-udp-port {{ 9000 }} \
	{% endif %}
	{% if lighthouse_beacon_eth1_enabled == True %}
	--eth1 \
	{% endif %}
	{% if lighthouse_beacon_eth1_endpoints is defined %}
	--eth1-endpoints {{ lighthouse_beacon_eth1_endpoints }} \
	{% endif %}
	{% if lighthouse_beacon_http_enabled == True %}
	--http \
	--http-address {{ lighthouse_beacon_http_address }} \
	{% endif %}
	{% if lighthouse_beacon_http_enable_tls == True %}
	--http-enable-tls \
	{% endif %}
	{% if lighthouse_beacon_http_tls_cert is defined %}
	--http-tls-cert {{ lighthouse_beacon_http_tls_cert }} \
	{% endif %}
	{% if lighthouse_beacon_http_tls_key is defined %}
	--http-tls-key {{ lighthouse_beacon_http_tls_key }} \
	{% endif %}
	{% if lighthouse_beacon_import_all_attestations == True %}
	--import-all-attestations \
	{% endif %}
	{% if lighthouse_beacon_metrics_enabled == True %}
	--metrics \
	--metrics-address {{ lighthouse_beacon_metrics_address }} \
	{% endif %}
	--network-load {{ lighthouse_beacon_network_load }} \
	{% if lighthouse_beacon_purge_db == True %}
	--purge-db \
	{% endif %}
	{% if lighthouse_beacon_reconstruct_historic_states == True %}
	--reconstruct-historic-states \
	{% endif %}
	{% if lighthouse_beacon_slasher_enabled == True %}
	--slasher \
	{% endif %}
	{% if lighthouse_beacon_subscribe_all_subnets == True %}
	--subscribe-all-subnets \
	{% endif %}
	--target-peers {{ lighthouse_beacon_target_peers }} \
	{% if lighthouse_beacon_validator_monitor_auto == True %}
		--validator-monitor-auto \
	{% endif %}

# There is a new line above this line. It is structural, don't remove it.
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ lighthouse_beacon_systemd_service_name }}
LimitNOFILE=65536:65536

[Install]
WantedBy=multi-user.target

